<ion-header>
  <ion-toolbar color="danger">
    <ion-title>
      CURRICULUM
    </ion-title>
  </ion-toolbar>
  
</ion-header>

<ion-content style="background-color:transparent">
	<ion-card>
		<img src="assets/img/foto.png"> 
	  	<ion-card-title>DATOS PERSONALES</ion-card-title>
	  	<ion-card-content>
	  		<ion-grid style="background-color:#2964ba; ">
	  			<ion-row>
		        	<div style="color: white; font-size: 14px; text-align: center">
		            	Nombres Completos: Edgar Andrés Alquinga Llive      
		            </div>
		            <br>
		            <div style="color: white; font-size: 14px; text-align: center">
		              Fecha de nacimiento : 18 de mayo de 1995<br>
		            </div>
		            
		            <div style="color: white; font-size: 14px; text-align: center">
		              Cedula de Identidad: 1751803162
		            </div>

		            <div style="color: white; font-size: 14px; text-align: center">
		              Estatura: 1,76 cm
		            </div>

		            <div style="color: white; font-size: 14px; text-align: center">
		              Lugar de nacimiento: Pichincha, Quito, Gonzales Suarez
		            </div>

		            <div style="color: white; font-size: 14px; text-align: center">
		              Dirección: Teodoro Gómez de la torre S14-236 y Thomas guerra
		            </div>

		            <div style="color: white; font-size: 14px; text-align: center">
		              Celular: 0994153187		e-mail: andresalquinga@hotmail.com
		            </div>
		        </ion-row>
		    </ion-grid>
		</ion-card-content>
</ion-card>


		<ion-card transparent >
			<ion-card-title>ESTUDIOS</ion-card-title>
		<ion-card-content transparent>
		      <ion-grid style="background-color:gray;">
		        <ion-row>
		        	<ion-row>
		        	<div style="color: white; font-size: 14px; text-align: center">
		            	Estudios primarios: Escuela fiscal de niños “5 de junio”
		            	<br>Dirección: Av. Maldonado y pungala
		            	<br>Inicio año 2001-2002    Final año 2006-2007
		            	<br><br>
		            	Estudios secundarios: Instituto Tecnológico Superior “SUCRE”
		              <br>Dirección: Teodoro Gómez de la torre y Joaquín Gutiérrez
		              <br>Inicio año 2007-2008    Final: 2012-2013
		              <br><br>
		              Estudios Superiores: Escuela Politécnica Nacional
		              <br>Dirección: Ladron de Guevera E11-253, Quito 170517
		              <br>Inicio año septiembre 2015 hasta la actualidad
		            </div>
		        </ion-row>
		        </ion-row>
		      </ion-grid>
		    </ion-card-content>
		 </ion-card>

		<ion-card>
			<ion-card-title>GRADOS/TITULOS</ion-card-title>
		<ion-card-content>
		      <ion-grid style="background-color:brown;">
		        <ion-row>
		        	<div style="color: white; font-size: 14px; text-align: center">
		            	Bachiller Técnico Industrial especialidad mecánica automotriz (2013)
		            	<br><br>Título Cinturón Negro 1er DAN certificado Federación Ecuatoriana de karate (2019)
		            	<br><br>Conductor no Profesional Licencia Tipo B (2014)

		            </div>
		        </ion-row>
		      </ion-grid>
		</ion-card-content>
		</ion-card>

	<ion-card>
		  	<ion-card-title>PERFIL</ion-card-title>
		  	<ion-card-content>
		  		<ion-grid style="background-color:#2964ba; ">
		  			<ion-row>
			        	<div style="color: white; font-size: 14px; text-align: center">
			            	Soy una persona que puedo trabajar en equipo, aprendo rápido.
			            	<br><br>Soy una persona responsable y muy puntual tanto en el trabajo como en mi vida cotidiana. 
			            	<br><br>Soy una persona que me adapto rápido a cualquier sitio.
			            	<br><br>Soy una persona atlética 
			            </div>
			        </ion-row>
			    </ion-grid>
			</ion-card-content>
	</ion-card>

	<ion-card transparent >
			<ion-card-title>CONOCIMIENTOS</ion-card-title>
		<ion-card-content transparent>
		      <ion-grid style="background-color:gray;">
		        <ion-row>
		        	<ion-row>
		        	<div style="color: white; font-size: 14px; text-align: center">
		            	Conocimiento en C++, java, Python, ASP.net, javascript, PHP, IONIC, Angular,HTML
		            	<br><br>Base de datos, SQL, MYSQL, Oracle, CouchD.
		            	<br><br>Mantenimiento de computadores
		            	<br><br>Ingles Avanzado

		            </div>
		        </ion-row>
		        </ion-row>
		      </ion-grid>
		    </ion-card-content>
	</ion-card>

	<ion-card>
			<ion-card-title>EXPERIENCIA LABORAL</ion-card-title>
		<ion-card-content>
		      <ion-grid style="background-color:brown;">
		        <ion-row>
		        	<div style="color: white; font-size: 14px; text-align: center">
		            	RADIOSHACK
		            	<br>Cargo: Atención al cliente 
		            	<br>Funciones: Vendedor
		            	<br>Control de caja
		            	<br>Facturación 
		            	<br>Jefe: Abed Diab.
		            	<br>Fecha de inicio: 02 de septiembre del 2019 Hasta la actualidad
		            	<br><br>IESS (DNTI, Dirección Nacional de Tecnologías de la Información)
		            	<br>Cargo: Pasante 
		            	<br>Funciones: Control de base de datos
		            	<br>Creación e implementación de reportes
		            	<br>Control de aplicativo (página WEB)
		            	<br>Extracción y validación de datos 
		            	<br>Jefe: Sandra Guaita, Silvia Velasco.
		            	<br>Fecha de inicio: 14 de julio del 2018 Fecha de finalización: 18 de diciembre del 2018
		            	<br><br>Muebles Buen Hogar  
		            	<br>Cargo: Atención al cliente 
		            	<br>Funciones: Vendedor 
		            	<br>Jefe: Patricio Cepeda
		            	<br>Dirección: Av. Tnt. Hugo Ortiz y cusumba  
		            	<br>Teléfono: 2686275
		            	<br>Fecha de inicio de labores: septiembre del 2014 Fecha de finalización: septiembre del 2015
		            	<br><br>Orquídeas Junior Collage 
		            	<br>Cargo: Profesor de educación física
		            	<br>Funciones: Entrenamiento físico 
		            	<br>Jefe: Catalina Abril
		            	<br>Dirección: José Peralta y Joaquín Gutiérrez 
		            	<br>Teléfono: 3113144
		            	<br>Fecha de inicio de labores: abril del 2014 Fecha de finalización: julio del 2014
		            </div>
		        </ion-row>
		      </ion-grid>
		</ion-card-content>
		</ion-card>

		<ion-card>
		  	<ion-card-title>REFERENCIAS</ion-card-title>
		  	<ion-card-content>
		  		<ion-grid style="background-color:#2964ba; ">
		  			<ion-row>
			        	<div style="color: white; font-size: 14px; text-align: center">
			            	Edgar Horlando Alquinga Gallo
			            	<br>Cinturón Negro 4to dan Federado 
			            	<br>Club de Karate formativo especializado “Tigre Rojo”
			            	<br>Instructor jefe y Propietario del Club
			            	<br>Celular: 0985277949
			            </div>
			        </ion-row>
			    </ion-grid>
			</ion-card-content>
	</ion-card>

</ion-content>