img{
	width: 32%; 
	height: 30%;  
	align-content:center; 
	display:block;
	margin-left:35%;
	border:2px solid #fff;
	border-radius:50%;
}

ion-content{
margin-top:65%;
}
ion-card{
	border-left:3px solid #ffa500;
}
