<ion-header>
  <ion-toolbar color="danger">
    <ion-title>
      ESCUELA POLITECNICA NACIONAL
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <img src="/assets/img/epn.png" alt="" />
      <ion-card-header>
        <ion-card-title>APP desarrollada en IONIC</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>La siguiente APP fue desarrollada en ionic implementando una plantilla tab 
        a la que se le modifico su estructura y se le incorporo un CV</p>
      </ion-card-content>
    </ion-card>
    
</ion-content>
